.split.left.materialize-red.lighten-2
  .centered
    #social
        h2.l-grey-text Nutan Garla
        a(href='http://github.com/neu10', target='_blank')
          span.fa.fa-github-square
        a(href='http://linkedin.com/in/garlanutan', target='_blank')
          span.fa.fa-linkedin
        a(href='mailto:garlanutan@gmail.com')
          span.fa.fa-envelope  
        a(href='//facebook.com/nutancrick', target='_blank')
          span.fa.fa-facebook  
        a(href='//instagram.com/neu_10', target='_blank')
          span.fa.fa-instagram  
        a(href='//stackoverflow.com/users/3096646/nutan',target='_blank')  
          span.fa.fa-stack-overflow
//a#bottom-right.l-grey-text(href='/auth/login')  
  span.fa.fa-google

.split.right
  img.image-bg([src]='src',alt='Image')

//.row.no-row-spaces.materialize-red.lighten-2.valign-wrapper
  .col.s12
    .text-center
      
  
